* {
  margin: 0px;
  padding: 0px;
  color: white;
}

body {
  background: #c31432; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #240b36,
    #c31432
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* cover section */
.main_section {
  height: 100vh;
  display: flex;
  flex-direction: row;
  width: 90vw;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
}
.main_section > div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main_section > div > h1 {
  font-size: 2.5vw;
  font-weight: bold;
}
.main_section > h6 {
  font-size: 1.25vw;
}
.main_section > h3 {
  font-size: 1.875vw;
}
.main_section > h2 {
  font-size: 1.67vw;
}
.Navbar {
  width: 90vw;
  margin: auto;
  position: relative;
  top: 10vh;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navlink {
  text-decoration: none;
  color: white;
  font-size: 1vw;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.logo > img {
  height: 30vw;
  width: 30vw;
}
.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section > div {
  width: 10.4vw;
}
.main_section > div {
  width: 50%;
}

/* Sentimental */
.emoticon {
  height: 10vw;
  width: 10vw;
}

.inputBox{
  border: 2px solid white;
  height: 40px;
  border-radius: 50px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputBox>input{
  border:transparent;
  background-color: transparent;
  font-size: 22px;
  color: white;
  outline: none;
}

.search_icon{
  width: 20px;
  height: 20px;
}
